<h1>Log in</h1>
<%= form_for(:session,url: '/login',method: 'post') do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name,class: 'form-control' %>

  <%= f.submit 'Log in',class: 'btn btn-primary' %>
<% end %>
