<h2>Sign up Form</h2>
  <%= form_for(:user, url: '/signup', method: :post) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name,class: 'form-control' %>

    <%= f.submit 'Sign up',class: 'btn btn-primary' %>

  <% end %>
