<div class="row">
  <div class="text-center">
    <h1>Your Events</h1>
  </div>
  <div class="col-md-6 text-right">
    <h2> Previous </h2>
      <%= render partial: 'shared/scheduled_events', locals: {scheduled_events: @previous_events} %>
  </div>
  <div class="col-md-6 ">
    <h2> Upcoming </h2>
    <%= render partial: 'shared/scheduled_events', locals: {scheduled_events: @upcoming_events} %>
  </div>
</div>
