<h1> Events of <%= current_user.name %></h1>
<% @user.events.each do |event| %>
  <p><%= event.name %></p>
<% end %>
<h1> Previous </h1>
<% @previous_events.each do |eofa| %>
  <% eofa = Event.find_by(id: eofa.event_id)  %>
  <p><%= eofa.name %></p>
<% end %>
<h1> Upcoming </h1>
<% @upcoming_events.each do |eofa| %>
  <% eofa = Event.find_by(id: eofa.event_id)  %>
  <p><%= eofa.name %></p>
<% end %>
