<div class="row">
  <div class="col-md-3 ">
    <h1> Previous </h1>
      <%= render partial: 'shared/scheduled_events', locals: {scheduled_events: @previous_events} %>
  </div>
  <div class="col-md-6 ">
    <h1 class="text-center">All Events</h1>
    <div class="text-center">
      <%= render partial: 'shared/scheduled_events', locals: {scheduled_events: @events} %>
    </div>
  </div>
  <div class="col-md-3 ">
    <h1> Upcoming </h1>
      <%= render partial: 'shared/scheduled_events', locals: {scheduled_events: @upcoming_events} %>
  </div>
</div>
