   <div class="row">
     <div class="col-md-6 ">
       <h2>Attendees for event:</h2>
       <h4>" <%= @event.name %> "</h4><br>
       <ul>
          <% @event.users.each do |users| %>
          <li><b><p><%= users.name %></p></b></li>
           <% end %>
       </ul>
      </div>
      <% if current_user.id == @event.creator_id %>
       <div class="col-md-6 ">
         <h2>Invite Users</h2>
         <ul id="invite-users" >
          <% @users.each do |user| %>
            <% if !@event.users.exists?(id: user.id) %>
                <li id="available-users">
                  <span id="name-align"><%= user.name %></span>
                  <%= button_to( "Invite", action: 'invite', id: user.id, data: { event_id: @event.id }) %>
                </li>
              <% else %>
                <p>Ops! No more users to invite</p>
                <% break %>
              <% end %>
          <% end %>
         </ul>
       </div>
       <% end %>
   </div>
